process.container = 'ayorinde/micromamba-image:v1.0.0'
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true

// config file
params.foo = 'Bonjour'
params.bar = 'le monde!'

// or for conda environment, do either
// process.conda = "/home/ubuntu/miniconda2/envs/nf-tutorial" or
// process.conda = "/path/to/conda_env_yml/file"

// The process configuration scope allows the setting of any process directives in the Nextflow configuration file
/*
process {
    cpus = 10
    memory = 8.GB
    container = 'biocontainers/bamtools:v2.4.0_cv3'
}
*/

// Exercise

/*
process {

    withName: QUANTIFICATION {
        cpus = 2
        memory = '5 GB'
    }

}
*/